.container {
    background-color: $blue;
    padding: 2rem;
    width: 90%;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    @media screen and (min-width: 768px) {
        width: min-content;
    }
    
    h1 {
        color: $green;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
    }
    p {
        color: $light-cyan;
        font-size: 28px;
        text-align: center;
    }
    .divider-mobile {
        margin-bottom: 2rem;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    .divider-desktop {
        display: none;
    }
    @media screen and (min-width: 768px) {
        .divider-desktop {
            margin-bottom: 2rem;
            display: block;
        }
    }
    .new-quote {
        position: absolute;
        bottom: -1.75rem;
        background-color: $green;
        padding: 1rem;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            box-shadow: 0px 0px 20px 3px $green;
        }
        img {
            margin: 0;
        }
    }
}